*{
	padding: 0;
	margin: 0;
}

body{
	max-width: 100vw;
	color: rgba(0,0,0,0.8);
	text-align: center;
	top: 20%;
	background: linear-gradient(to right,green,pink);
}

h1{
	font-size: 50px;
	padding: 25px;
	text-transform: uppercase;
	text-align: center;
}
h2,h3{
	padding: 20px;
	color: rgb(0,0,0,0.6);
}

#random{
	padding: 10px;
	border: 2px solid grey;
    border-radius: 10px;
    background-color: #e7e7e7; 
    color: black;
    font-size: 18px;
    cursor: pointer;
}
